<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nave-list">
            <a mat-list-item>
                <i class="material-icons">
                    home
                </i> Início
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    face
                </i> Pacientes
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    schedule
                </i> Cronograma
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>