<div class="mat-elevation-z5">
    <h1 mat-dialog-title class="title">PAINEL DE CHAMADAS</h1>
    <form>
        <mat-form-field class="form-name">
            <input class="name" matInput placeholder="Nome" [(ngModel)]="product.name" name="name" readonly="readonly">
        </mat-form-field>
    </form>
    <form>
        <mat-form-field class="form-senha">
            <input class="senha" matInput placeholder="Senha" [(ngModel)]="product.password" name="password" readonly="readonly">
        </mat-form-field>
    </form>
    <div mat-dialog-actions>
    </div>
    <button class="button-close" mat-raised-button mat-dialog-close routerLink="/pacientes/" color="primary">Close</button>
</div>